{% extends "admin/base.html.twig" %}

{% block CSSfiles %}
{{ parent() }}
<style>
    #appbundle_publication_place_lat, 
    #appbundle_publication_place_lng {
        display: none;
    }
</style>
    <!-- iCheck - Customizable checkboxes and radio buttons  -->
    <link href="{{ asset('vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
    <!-- Select2 - Customizable select box  -->
    <link href="{{ asset('vendors/select2/dist/css/select2.min.css') }}" rel="stylesheet">
    <!-- Switchery - IOS7 style switches  for checkboxes -->
    <link href="{{ asset('vendors/switchery/dist/switchery.min.css') }}" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="{{ asset('vendors/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}{{ parent() }}Ajout d'une publication sur un animal {% endblock %}


{% block contentTitle %}Nouvelle publication{% endblock %}

{% block content %}
   <div class="x-content">
    
        {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left'}, 'id': 'demo-form2'}) }}

        <div>
            {{ form_errors(form) }}
        </div>

        <div class="form-group">
            {{ form_label(form.content, "Contenu", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
            
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_widget(form.content, {'attr': {'class': 'form-control resizable_textarea col-md-7 col-xs-12', 'style': 'height:100%;'}}) }}
                <div>{{ form_errors(form.content) }}</div>
            </div>
        </div>
        
        <div class="form-group">
            {{ form_label(form.updatedDate, "Date de publication", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
            
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_widget(form.updatedDate, {'attr': {'class': 'col-md-7 col-xs-12'}}) }}
                <div>{{ form_errors(form.updatedDate) }}</div>
            </div>
        </div>
        {% if app.request.query.get("state") == 'perdu' or app.request.query.get("state") == 'trouvé' %}
        <div class="form-group">
            {{ form_label(form.place, " ", {'label_attr': {'class': 'control-label col-md-2 col-sm-3 col-xs-12'}}) }}
            
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_widget(form.place) }}
                <div>{{ form_errors(form.place) }}</div>
            </div>
        </div>        
        {% endif %}

        <div class="form-group">

        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}
            <span>Prochaine étape : choix des photos avant publication</span>
        </div>
        </div>

        {# Automatic generation of hidden fields, and CSRF field #}
        {{ form_rest(form) }}

        {{ form_end(form) }}
    </div>

{% endblock %}

{% block JSfiles %}
    {{ parent() }}   
    <!-- bootstrap-progressbar -->
    <script src="{{ asset('vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
    <!-- iCheck - Customizable checkboxes and radio buttons -->
    <script src="{{ asset('vendors/iCheck/icheck.min.js') }}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{{ asset('vendors/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <!-- Switchery - IOS7 style switches  for checkboxes -->
    <script src="{{ asset('vendors/switchery/dist/switchery.min.js') }}"></script>
    <!-- Select2 - Customizable select box -->
    <script src="{{ asset('vendors/select2/dist/js/select2.full.min.js') }}"></script>
    <!-- Autosize - Automatically adjust textarea height to fit text -->
    <script src="{{ asset('vendors/autosize/dist/autosize.min.js') }}"></script>
    <script src="{{ asset('js/collection-form.js') }}"></script>
    <script src="{{ asset('js/dynamic-form.js')}}"></script>
    
        
    <script>
        function initMap() {
            var input = document.getElementById('appbundle_publication_place_address');
            var inputLat = document.getElementById('appbundle_publication_place_lat');
            var inputLng = document.getElementById('appbundle_publication_place_lng');
            var options = {
              componentRestrictions: {country: 'fr'}
            };
            var autocomplete = new google.maps.places.Autocomplete(input, options);
            
            // Avoid form submission when key "enter" pressed
            input.onkeypress = function(e) {
              var key = e.charCode || e.keyCode || 0;     
              if (key == 13) {
                e.preventDefault();
              }
            }

            autocomplete.addListener('place_changed', function() {
                var place = autocomplete.getPlace();
                var latitude = place.geometry.location.lat();
                var longitude = place.geometry.location.lng(); 
                inputLat.value = latitude ;
                inputLng.value = longitude ;
                if (!place.geometry) {
                    // User entered the name of a Place that was not suggested and
                    // pressed the Enter key, or the Place Details request failed.
                    window.alert("Pas d'adresse trouvée pour la recherche : '" + place.name + "'. Veuillez réessayer");
                    return;
                }
            })
            
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDqnF7_sYGUDLj0BkECfFUxwyVqCGn99o&libraries=places&callback=initMap" async defer></script>
    
{% endblock %}


