{% extends "front/base.html.twig" %}

{% block CSSfiles %}
{{ parent() }}
<style>
    #map {
        height: 200px;
    }
</style>
{% endblock %}

{% block content %}

<!-- Blog -->
<section id="blog" class="updatable">

	<article>
		<div class="container">

			<div class="row post">
				<div class="col-md-9">

					<!-- Post -->
					<div class="eachpost">
						<div class="title">
							<div class="centered"><div><h2>{{ event.title }}</h2></div></div>
							<div class="clearfix"></div>
							<p>Publié le : {{ event.date|date('d/m/Y') }}</p>
						</div>	
						{% if event.mainImage is not null %}
						    <div class="post-img"><img src="{{ asset(event.mainImage.webPath) }}" alt="Image publication"></div>
                        {% endif%}
                        <p><strong>Lieu :</strong> {{ event.event.place }}</p>
                        <p><strong>Date(s) :</strong> {{ event.event.beginningDateEvent|date('d/m/Y') }}
                        {% if event.event.endingDateEvent != event.event.beginningDateEvent %} - {{ event.event.endingDateEvent|date('d/m/Y') }}{% endif %}</p>
						<p>{{ event.content|raw }}</p>
						
						<div id="map"></div>

					</div>
					<!-- end Post -->

				</div>
				
				{{ include('front/aside.html.twig') }}
			</div>

		</div>
	</article>

</section>
<!-- end Blog -->

{% endblock %}

{% block JSfiles %}
    {{ parent() }}

    <script>
        var map;
        function initMap() {
            var myLatLng = {
                lat: {{ event.event.lat }}, 
                lng: {{ event.event.lng }}
            };

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: myLatLng
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: '{{ event.event.place }}'
            });
        }
        
    </script>
    
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDqnF7_sYGUDLj0BkECfFUxwyVqCGn99o&callback=initMap" ></script>
{% endblock %}
