{% extends "front/base.html.twig" %}

{% block content %}

<section id="blog" class="updatable">

	<article>
		<div class="container">


			<div class="row post">
				<div class="col-md-9">

					{% for event in events %}
					<div class="eachpost">
						<div class="title">
							<div class="centered"><div><h2><a href="{{ path('front_event_card', {'id': event.id}) }}">{{ event.title }}</a></h2></div></div>
							<div class="clearfix"></div>
							<p>{{ event.date|date('d/m/Y') }} <i class="icon-dot"></i></p>
						</div>	

						<div class="post-img"><img src="{{asset('event.mainImage')}}" alt="//"></div>

						<p>{{ event.content }}</p>
						<a href="{{ path('front_event_card', {'id': event.id}) }}" class="btn btn-default">Lire plus</a>
					</div>
					{% endfor %}

					
					

				</div>
				{{ include('front/aside.html.twig') }}
			</div>

		</div>
	</article>

</section>

{% endblock %}