{% extends "admin/base.html.twig" %}

{% block title %}{{ parent() }}Ajout d'un événement en base données {% endblock %}

{% block CSSfiles %}
    {{ parent() }}
    <!-- iCheck - Customizable checkboxes and radio buttons  -->
    <link href="{{ asset('vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
    <!-- Select2 - Customizable select box  -->
    <link href="{{ asset('vendors/select2/dist/css/select2.min.css') }}" rel="stylesheet">
    <!-- Switchery - IOS7 style switches  for checkboxes -->
    <link href="{{ asset('vendors/switchery/dist/switchery.min.css') }}" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="{{ asset('vendors/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">
{% endblock %}

{% block contentTitle %}Nouvel événement{% endblock %}

{% block contentSubtitle %}Ajout d'un événement{% endblock %}

{% block content %}
   <div class="x-content">
    
        {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left', 'id': 'demo-form2', 'novalidate': null}}) }}

        <div>
            {{ form_errors(form) }}
        </div>

        <div class="form-group">
            {{ form_label(form.title, "Titre *", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
            
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_widget(form.title, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                <div>{{ form_errors(form.title) }}</div>
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.event.beginningDateEvent, "Date de début *", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
            
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_widget(form.event.beginningDateEvent, {'attr': {'class': 'col-md-7 col-xs-12'}}) }}
                <div>{{ form_errors(form.event.beginningDateEvent) }}</div>
            </div>
        </div>        
           
        <div class="form-group">
            {{ form_label(form.event.endingDateEvent, "Date de fin *", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
            
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_widget(form.event.endingDateEvent, {'attr': {'class': 'col-md-7 col-xs-12'}}) }}
                <div>{{ form_errors(form.event.endingDateEvent) }}</div>
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.event.place, "Adresse", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
            
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_widget(form.event.place, {'attr': {'class': 'capitalize', 'style': 'width:100%;'}}) }}
                <div>{{ form_errors(form.event.place) }}</div>
            </div>
        </div>        
           
        <div class="form-group" style="display:none;">
            {{ form_label(form.event.lat, "Latitude") }}
            
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_widget(form.event.lat) }}
                <div>{{ form_errors(form.event.lat) }}</div>
            </div>
        </div>        
           
        <div class="form-group" style="display:none;">
            {{ form_label(form.event.lng, "Longitude") }}
            
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_widget(form.event.lng) }}
                <div>{{ form_errors(form.event.lng) }}</div>
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.content, "Description", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
            
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_widget(form.content, {'attr': {'class': 'form-control resizable_textarea col-md-7 col-xs-12', 'style': 'height:100%;'}}) }}
                <div>{{ form_errors(form.content) }}</div>
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.images, "Photos", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
            
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_widget(form.images, {'attr': {'class': ' col-xs-12', 'style': 'height:100%;'}}) }}
                <div>{{ form_errors(form.images) }}</div>
                <a href="#" id="add_image" class="btn btn-default">Ajouter une photo</a>
            </div>
            
        </div>
        
        <div class="form-group">
            {{ form_label(form.published, "Publier", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
            
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_widget(form.published, {'attr': {'class': 'js-switch'}}) }}
                <div>{{ form_errors(form.published) }}</div>
            </div>
        </div>

        <div class="form-group">

        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <p>* : Champs obligatoires</p>
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
        </div>

        {# Automatic generation of hidden fields, and CSRF field #}
        {{ form_rest(form) }}

        {{ form_end(form) }}
    </div>

{% endblock %}

{% block JSfiles %}
    {{ parent() }}   
    <!-- bootstrap-progressbar -->
    <script src="{{ asset('vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
    <!-- iCheck - Customizable checkboxes and radio buttons -->
    <script src="{{ asset('vendors/iCheck/icheck.min.js') }}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{{ asset('vendors/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <!-- jQuery Tags Input -->
    <script src="{{ asset('vendors/jquery.tagsinput/src/jquery.tagsinput.js') }}"></script>
    <!-- Switchery - IOS7 style switches  for checkboxes -->
    <script src="{{ asset('vendors/switchery/dist/switchery.min.js') }}"></script>
    <!-- Select2 - Customizable select box -->
    <script src="{{ asset('vendors/select2/dist/js/select2.full.min.js') }}"></script>
    <!-- Autosize - Automatically adjust textarea height to fit text -->
    <script src="{{ asset('vendors/autosize/dist/autosize.min.js') }}"></script>
    <script src="{{ asset('js/collection-form.js') }}"></script>
    <script src="{{ asset('js/dynamic-form.js')}}"></script>
    <script>
        function initMap() {
            var input = document.getElementById('appbundle_publication_event_place');
            var inputLat = document.getElementById('appbundle_publication_event_lat');
            var inputLng = document.getElementById('appbundle_publication_event_lng');
            var options = {
              componentRestrictions: {country: 'fr'}
            };
            var autocomplete = new google.maps.places.Autocomplete(input, options);
            
            // Avoid form submission when key "enter" pressed
            input.onkeypress = function(e) {
              var key = e.charCode || e.keyCode || 0;     
              if (key == 13) {
                e.preventDefault();
              }
            }

            autocomplete.addListener('place_changed', function() {
                var place = autocomplete.getPlace();
                var latitude = place.geometry.location.lat();
                var longitude = place.geometry.location.lng(); 
                inputLat.value = latitude ;
                inputLng.value = longitude ;
                if (!place.geometry) {
                    // User entered the name of a Place that was not suggested and
                    // pressed the Enter key, or the Place Details request failed.
                    window.alert("Pas d'adresse trouvée pour la recherche : '" + place.name + "'. Veuillez réessayer");
                    return;
                }
            })
            
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDqnF7_sYGUDLj0BkECfFUxwyVqCGn99o&libraries=places&callback=initMap" async defer></script>

{% endblock %}


