{% extends "admin/base.html.twig" %}

{% block title %}{{ parent() }} Accueil {% endblock %}

{% block contentTitle %}Bienvenue ! {% endblock %}


{% block content %}
    
    {% for message in app.session.flashbag.get('info') %}
        <div  class="modal fade" id="flashbagModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Info</h4>
                    </div>
                    <div class="modal-body">
                        {{ message }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                    </div>

                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        
    {% endfor %}
    {% if is_granted('ROLE_ADMIN') %}
         <div class="x_content">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_content">

                      <div class="row top_tiles">
                      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                          <div class="icon"><i class="fa fa-pencil"></i></div>
                          <div class="count">Animal</div>
                            <h3><a href="{{ path('admin_animal_add') }}">Créer un nouveau</a></h3>
                        </div>
                      </div>
                      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                          <div class="icon"><i class="fa fa-pencil"></i></div>
                          <div class="count">Annonce</div>
                            <h3><a href="{{ path('admin_publication_add') }}">Créer une nouvelle</a></h3>
                        </div>
                      </div>
                      <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                          <div class="icon"><i class="fa fa-pencil"></i></div>
                          <div class="count">Evénement</div>
                            <h3><a href="{{ path('admin_event_add') }}">Créer un nouveau</a></h3>
                        </div>
                      </div>

                    </div>
                        </div>
                    </div>
             </div>
        </div>
    {% endif %}

    <div class="x_content">
            <div class="col-md-12">
                <div class="x_panel">
                   <div class="x_title">
                        <h2>Dernières  notes internes</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Utilisateur</th>
                                    <th>Note</th>
                                    <th>Sujet de la note</th>
                                </tr>
                            </thead>
                            <tbody>                 
                                {% for note in lastNotes %}
                                    <tr>
                                        <td>{{ note.user.userPseudo()|capitalize }}</td>
                                        <td>{{ note.message|truncate(80) }}</td>
                                        <td>
                                            {% if note.animal is not null %}
                                               <a class="btn btn-default" href="{{ path('admin_animal_card', { 'id': note.animal.id} )}}">Voir</a>
                                                {{ note.animal.name }}
                                                
                                            {% elseif note.publication.event is not null %}
                                               <a class="btn btn-default" href="{{ path('admin_event_card', {'id': note.publication.id })}}">Voir</a>
                                                {{ note.publication.title }}
                                                
                                            {% else %}
                                              <a class="btn btn-default" href="{{ path('admin_publication_card', {'id': note.publication.id })}}">Voir</a>
                                               {{ note.publication.title }}
                                                
                                            {% endif %}
                                        </td>


                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
        </div>
    </div>

              
{% endblock %}

{% block JSfiles %}
{{ parent() }}
<script>
    $(document).ready(function () {

        $('#flashbagModal').modal('show');

    });
    </script>
{% endblock %}


