<!DOCTYPE html>
<html>
<head>
	<!-- Define Charset -->
	<meta charset="utf-8"/>
    
    {% block title %}
	<!-- Page Title -->
	<title>Petshop - Blog News Page</title>
	{% endblock %}

	<!-- Responsive Metatag -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	   
    {% block CSSfiles %}
	<!-- CSS -->
	<link rel="stylesheet" href="{{ asset('front/css/bootstrap.min.css') }}">

	<!-- Slider Revolution -->
	<link rel="stylesheet" href="{{ asset('front/plugins/revolution/css/settings.css') }}">

    <!-- Font icons -->
    <link rel="stylesheet" href="{{ asset('front/css/fontello.css') }}" >
    <!--[if IE 7]>
    <link rel="stylesheet" href="{{ asset('front/css/fontello-ie7.css') }}" ><![endif]-->
    
    <!-- Font Awesome -->
    <link href="{{ asset('vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('front/plugins/grid/css/component.css') }}" />
	
	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{ asset('front/css/styles.css') }}" />
	
	<!-- Custom Media-Queties -->
	<link rel="stylesheet" href="{{ asset('front/css/media-queries.css') }}" />

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>        
	<![endif]-->

	<!-- Media queries -->
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
	
	{% endblock %}
	
</head>

<body>

{% block header %}
<header>
<nav class="navbar" role="navigation">
<div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{{ path('front_home') }}"><img src="{{ asset('img/logo.png') }}" alt="Logo" style="max-width:50px"/></a>
	</div>
	
	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">L'asso <span class="caret"></span></a>
                <ul class="dropdown-menu">
                   {{ render(controller('AppBundle:Menu:listPages', {'categoryName': 'lasso'})) }}
                </ul>
            </li>
            <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">A l'adoption <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="{{ path('front_list_animal_adoption', {'animalType': 'chien', 'sex': 'all', 'breed': 'all', 'age': 'all'}) }}">Chiens</a></li>
					<li><a href="{{ path('front_list_animal_adoption', {'animalType': 'chat', 'sex': 'all', 'breed': 'all', 'age': 'all'}) }}">Chats</a></li>
					<li><a href="{{ path('front_list_animal_adopted') }}">Adoptés</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Perdus / trouvés <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li ><a href="{{ path('front_list_animal_found_lost', {'state': 'perdu'}) }}">Animaux Perdus</a></li>
					<li><a href="{{ path('front_list_animal_found_lost', {'state': 'trouvé'}) }}">Animaux Trouvés</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Nous aider <span class="caret"></span></a>
				<ul class="dropdown-menu">
					{{ render(controller('AppBundle:Menu:listPages', {'categoryName': 'nousaider'})) }}
				</ul>
			</li>
			<li ><a href="{{ path('front_events') }}">Evénements</a></li>
			<li><a href="{{ path('front_publications') }}">Actu</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Conseils <span class="caret"></span></a>
				<ul class="dropdown-menu">
					{{ render(controller('AppBundle:Menu:listPages', {'categoryName': 'conseils'})) }}
				</ul>
			</li>
			
			<li class="dropdown">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i><span class="caret"></span></a>
			    <ul class="dropdown-menu">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
			            <li><a href="{{ path('logout') }}">Déconnexion</a></li>
			        {% else %}
                        <li><a href="{{ path('login') }}">Connexion</a></li>
                        <li><a href="{{ path('user_registration') }}">S'enregistrer</a></li>
			        {% endif %}
			        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
			        <li><a href="{{ path('user_account') }}">Mon compte</a></li>
			        {% endif %}
			        {% if (is_granted('ROLE_ADMIN')) or (is_granted('ROLE_FA')) %}
			            <li><a href="{{ path('admin_home')}}">Panneau d'admin</a></li>
			        {% endif %}
			        
			    </ul>
			</li>
			
		</ul>


	</div>
</div>
</nav>
</header>

{% for message in app.session.flashbag.get('info') %}
    <div  class="modal fade" id="flashbagModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Info</h4>
                </div>
                <div class="modal-body">
                    {{ message }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endfor %}

{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
<footer>

	{{ render(controller('AppBundle:Contact:view')) }}

	<div class="bottom-foot">
		<p>© {{ "now"|date("Y") }} Association #asso</p>
	</div>

</footer>  
{% endblock %}



<a href="#" class="scrollup"><i class="icon-up-open"></i></a>


{% block JSfiles %}
	<!-- ======================= JQuery libs =========================== -->

		<!-- jQuery -->
		<script src="{{ asset('vendors/jquery/dist/jquery.min.js') }}"></script>
		
		<!-- Respond.js media queries for IE8 -->
		<script src="{{ asset('front/js/respond.min.js') }}"></script>
		
		<!-- Bootstrap-->
		<script src="{{ asset('front/js/bootstrap.min.js') }}" ></script>

		<!-- Placeholder.js http://widgetulous.com/placeholderjs/ -->
		<!--[if lt IE 9]>
		<script src="{{ asset('front/js/placeholder.js"') }} ></script>
		<script>Placeholder.init();</script>
		<![endif]-->

		<!-- Slider Revolution -->
		<script src="{{ asset('front/plugins/revolution/js/jquery.themepunch.plugins.min.js') }}"></script>
		<script src="{{ asset('front/plugins/revolution/js/jquery.themepunch.revolution.min.js') }}"></script>

		<!-- grid -->
		<script src="{{ asset('front/plugins/grid/js/modernizr.custom.js') }}"></script>
		<script src="{{ asset('front/plugins/grid/js/classie.js') }}"></script>
		<script src="{{ asset('front/plugins/grid/js/thumbnailGridEffects.js') }}"></script>

		<!-- BlockUI -->
		<script src="{{ asset('front/js/jquery.blockUI.js') }}"></script>
		
		<!-- scrollTo -->
		<script src="{{ asset('front/js/jquery.scrollTo-1.4.3.1-min.js') }}"></script>

		<!-- Custom -->
		<script src="{{ asset('front/js/script.js') }}"  ></script>
		
		<script>
            $(document).ready(function () {

                $('#flashbagModal').modal('show');

            });
        </script>

	<!-- ======================= End JQuery libs ======================= -->
{% endblock %}

</body>
</html>