<!DOCTYPE html>
<html>
<head>
	<!-- Define Charset -->
	<meta charset="utf-8"/>
    
    {% block title %}
	<!-- Page Title -->
	<title>Petshop - Blog News Page</title>
	{% endblock %}

	<!-- Responsive Metatag -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	   
    {% block CSSfiles %}
	<!-- CSS -->
	<link rel="stylesheet" href="{{ asset('front/css/bootstrap.min.css') }}">

	<!-- Slider Revolution -->
	<link rel="stylesheet" href="{{ asset('front/plugins/revolution/css/settings.css') }}">

    <!-- Font icons -->
    <link rel="stylesheet" href="{{ asset('front/css/fontello.css') }}" >
    <!--[if IE 7]>
    <link rel="stylesheet" href="{{ asset('front/css/fontello-ie7.css') }}" ><![endif]-->

    <link rel="stylesheet" href="{{ asset('front/plugins/grid/css/component.css') }}" />
	
	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{ asset('front/css/styles.css') }}" />
	
	<!-- Custom Media-Queties -->
	<link rel="stylesheet" href="{{ asset('front/css/media-queries.css') }}" />

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>        
	<![endif]-->

	<!-- Media queries -->
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
	
	{% endblock %}
	
</head>

<body>

{% block header %}
<header>
<nav class="navbar" role="navigation">
<div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="Logo" /></a>
	</div>
	
	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li ><a href="about.html">L'association</a></li>
			<li ><a href="dogs.html">A l'adoption</a></li>
			<li ><a href="services.html">Perdus / Trouvés</a></li>
			<li class="dropdown active">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Nous aider<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li ><a href="blog.html">Blog</a></li>
					<li><a href="without-sidebar.html">Without Sidebar</a></li>
					<li ><a href="single-post.html">Single Blog Post</a></li>
					<li><a href="single-puppie.html">Single Pet</a></li>
					<li><a href="clients.html">Clients Page</a></li>
				</ul>
			</li>
			<li ><a href="{{ path('front_events') }}">Evénements</a></li>
			<li><a href="{{ path('front_publications') }}">Actualités</a></li>
			<li class="dropdown active">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Conseils<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li ><a href="blog.html">Blog</a></li>
					<li><a href="without-sidebar.html">Without Sidebar</a></li>
					<li ><a href="single-post.html">Single Blog Post</a></li>
					<li><a href="single-puppie.html">Single Pet</a></li>
					<li><a href="clients.html">Clients Page</a></li>
				</ul>
			</li>
			<li class="dropdown active">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Autre<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li ><a href="blog.html">Blog</a></li>
					<li><a href="without-sidebar.html">Without Sidebar</a></li>
					<li ><a href="single-post.html">Single Blog Post</a></li>
					<li><a href="single-puppie.html">Single Pet</a></li>
					<li><a href="clients.html">Clients Page</a></li>
				</ul>
			</li>
			
		</ul>


	</div>
</div>
</nav>
</header>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
<footer>

	<article class="contact">
	<div id="map"></div>
	<div id="contact_bg">
		<div class="container">
			 
			<div class="row">
			<div class="col-sm-12">
				<div class="title">
					<div class="centered"><div><h2>Contact Us Now!</h2></div></div>
					<p>Give us a call or send us an email with any questions or concerns that you may have. Or if you're in the vicinity, stop an payus a visit!</p>
				</div>
			</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<address>
					<i class="icon-home"></i> 121 King Street, Melbourn Victoria 3000 Australia<br>
					<i class="icon-phone"></i> Phone:  +61 3 8376 6284<br />
					<i class="icon-mail"></i> Email:  <a href="mailto:support@company.com">support@company.com</a><br />
					<i class="icon-facebook"></i> Facebook:  <a href="#">facebook.com/company</a><br />
					<i class="icon-twitter"></i> Twitter:  <a href="#">twitter.com/company</a><br />
					</address>
				</div> 

				<div class="col-sm-6">
					<form class="form-inline" role="form" id="contact-form" action="contact-form.php" method="post" accept-charset="utf-8">
						<div class="form-group pull-left">
							<label class="sr-only" for="name">Name</label>
							<input type="text" class="form-control" id="name" placeholder="Name" name="name">
						</div>

						<div class="form-group pull-right">
							<label class="sr-only" for="email">Email</label>
							<input type="email" class="form-control" id="email" placeholder="Email" name="email">
						</div>

						<textarea class="form-control pull-left" rows="8" name="message" >Message</textarea>

						<input type="submit" class="btn btn-default pull-right" value="Contact us">
					</form>
				</div>   
			 </div>

		 </div>
	</div>
	</article>

	<div class="bottom-foot">
		<p>© 2015 PetShop. All rights reserved.<br /><a href="#">By mustachethemes</a></p>
	</div>

</footer>  
{% endblock %}



<a href="#" class="scrollup"><i class="icon-up-open"></i></a>


{% block JSfiles %}
	<!-- ======================= JQuery libs =========================== -->

		<!-- jQuery -->
		<script src="{{ asset('vendors/jquery/dist/jquery.min.js') }}"></script>
		
		<!-- Respond.js media queries for IE8 -->
		<script src="{{ asset('front/js/respond.min.js') }}"></script>
		
		<!-- Bootstrap-->
		<script src="{{ asset('front/js/bootstrap.min.js') }}" ></script>

		<!-- Placeholder.js http://widgetulous.com/placeholderjs/ -->
		<!--[if lt IE 9]>
		<script src="{{ asset('front/js/placeholder.js"') }} ></script>
		<script>Placeholder.init();</script>
		<![endif]-->

		<!-- Slider Revolution -->
		<script src="{{ asset('front/plugins/revolution/js/jquery.themepunch.plugins.min.js') }}"></script>
		<script src="{{ asset('front/plugins/revolution/js/jquery.themepunch.revolution.min.js') }}"></script>

		<!-- grid -->
		<script src="{{ asset('front/plugins/grid/js/modernizr.custom.js') }}"></script>
		<script src="{{ asset('front/plugins/grid/js/classie.js') }}"></script>
		<script src="{{ asset('front/plugins/grid/js/thumbnailGridEffects.js') }}"></script>

		<!-- BlockUI -->
		<script src="{{ asset('front/js/jquery.blockUI.js') }}"></script>
		
		<!-- scrollTo -->
		<script src="{{ asset('front/js/jquery.scrollTo-1.4.3.1-min.js') }}"></script>

		<!-- Custom -->
		<script src="{{ asset('front/js/script.js') }}"  ></script>

	<!-- ======================= End JQuery libs ======================= -->
{% endblock %}

</body>
</html>