{% extends "front/base.html.twig" %}

{% block CSSfiles %}
{{ parent() }}
<style>
    .container-img{  
        position: relative; 

    }
    .animal-image {
        position: absolute; 
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        margin: auto; 
        min-width: 50%;
        min-height: 50%;
    }
</style>
{% endblock %}

{% block content %}



<div id="content">
	<section id="home" class="updatable">
		
		<!-- Slider -->
		<article class="bannercontainer">
			<div class="banner ">
				<ul>                        
					<li data-transition="fade" data-slotamount="1">
						<img src="{{ asset('img/slider01.jpg') }}" alt="//" />
						<div 
							class="caption lfb " 
							data-x="left"
							data-y="top"
							data-speed="1000"
							data-start="500"
							data-easing="easeOutBack"
						>		
							<p><span>Association animale</span>
								Nos missions :<br />Limiter la prolifération<br /> des chats errants par la stérilisation.</p>
							
						</div>                                 
					</li>

					<li data-transition="3dcurtain-vertical" data-slotamount="1">
						<img src="{{ asset('img/slider02.jpg') }}" alt="//" />
						<div 
							class="caption lfb " 
							data-x="left"
							data-y="top"
							data-speed="1000"
							data-start="500"
							data-easing="easeOutBack"
						>	
							<p><span>Association animale</span> Prise en charge des animaux errants,<br /> Soins sociabilisation et adoption.</p>
						</div>  
					</li> 

					<li data-transition="papercut" data-slotamount="1">
						<img src="{{ asset('img/slider03.jpg') }}" alt="//" />
						<div 
							class="caption lfb " 
							data-x="left"
							data-y="top"
							data-speed="1000"
							data-start="500"
							data-easing="easeOutBack"
						>	
							<p><span>Association animale</span> Vous pouvez nous aider ! <br /> Faites un don, devenez bénévole..</p>
							
						</div>                                    
					</li> 
				</ul>
			</div>
		</article>
		<!-- End Slider -->

		<!-- begin Featured Pooch -->
		<article class="featured">
			<div class="container">
				<header><h2>{{ animalsOnAdoption[0].title }}</h2></header>

				<div class="row">
					<div class="col-md-9">
					    {% if animalsOnAdoption[0].mainImage is not null %}
						    <img src="{{ asset(animalsOnAdoption[0].mainImage.webPath) }}" alt="animal à l'adoption" class="img-rounded thumb">
						{% elseif animalsOnAdoption[0].images[0] is not null %}
						    <img src="{{ asset(animalsOnAdoption[0].images[0].webPath) }}" alt="animal à l'adoption" class="img-rounded thumb">
				        {% else %}
				        <img src="{{ asset('uploads/img/7.jpeg') }}" alt="image par défaut">
				        {% endif %}
						<h3>Dernier animal à l'adoption</h3>
						<p>{{ animalsOnAdoption[0].content|truncate(80)|raw }}</p>
						<div class="foot">Posté le {{ animalsOnAdoption[0].date|date("d/m/Y") }} <i class="icon-dot"></i> 
						{% if animalsOnAdoption[0].updatedDate is not null %}Mis à jour le {{ animalsOnAdoption[0].updatedDate|date("d/m/Y") }} {% endif %} </div>
					</div>
					<div class="col-md-3 vitals">
						<h4>Caractéristiques<i class="icon-heart"></i></h4>
						<p>
							<strong>Âge :</strong> {{ animalsOnAdoption[0].animalState.animal.age }}<br />
							<strong>Race :</strong> {{ animalsOnAdoption[0].animalState.animal.breed.name }}<br />
							<strong>Sexe :</strong> {{ animalsOnAdoption[0].animalState.animal.sex.type }}<br />
						</p>
					</div>
				 </div>

			</div>     
		</article>
		<!-- end Featured Pooch -->

		
		<!-- Our Puppies -->
		<article class="puppies">
		<div class="container">

			<div class="row">
				<div class="col-xs-12"><h2>Derniers animaux à l'adoption</h2></div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="grid">
						<ul>
						    {% for publication in animalsOnAdoption %}
							<li>
								<a class="container-img" href="{{ path('front_adoption_animal_card', {'id': publication.id }) }}">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">{{ publication.animalState.animal.sex.type }}</span>
										<span class="wks">{{ publication.animalState.animal.age }}</span>
										<span class="txt">{{ publication.animalState.animal.name }}</span>
									</div>
									{% if publication.mainImage is not null %}
                                        <img class="animal-image" src="{{ asset(publication.mainImage.webPath) }}" alt="animal à l'adoption" class="img-rounded thumb">
                                    {% else %}
                                        <img class="animal-image" src="{{ asset('uploads/img/7.jpeg') }}" alt="image par défaut">
                                    {% endif %}
								</a>
							</li>
							{% endfor %}
							
						</ul>
					</div>
				</div>
			 </div>
			 
			 <div class="row">
				<div class="col-xs-12"><h2>Derniers animaux perdus</h2></div>
			</div>
			
			{% if animalsLost|length != 0 %}
			<div class="row">
				<div class="col-xs-12">
					<div class="grid">
						<ul>
						    {% for publication in animalsLost %}
							<li>
								<a class="container-img" href="{{ path('front_animal_found_lost_card', {'state': 'perdu', 'id': publication.id }) }}">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">{{ publication.animalState.animal.sex.type }}</span>
										<span class="wks">{{ publication.animalState.animal.age }}</span>
										<span class="txt">{{ publication.animalState.animal.name }}</span>
									</div>
									{% if publication.mainImage is not null %}
                                        <img class="animal-image" src="{{ asset(publication.mainImage.webPath) }}" alt="animal perdu" class="img-rounded thumb">
                                    
                                    {% else %}
                                        <img class="animal-image" src="{{ asset('uploads/img/7.jpeg') }}" alt="image par défaut">
                                    {% endif %}
								</a>
							</li>
							{% endfor %}
							
						</ul>
					</div>
				</div>
			 </div>
			 {% endif %}
			 
			 {% if animalsFound|length != 0 %}
			  <div class="row">
				<div class="col-xs-12"><h2>Derniers animaux trouvés</h2></div>
			</div>
			
            <div class="row">
				<div class="col-xs-12">
					<div class="grid">
						<ul>
						    {% for publication in animalsFound %}
							<li>
								<a class="container-img" href="{{ path('front_animal_found_lost_card', {'state': 'trouvé', 'id': publication.id }) }}">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">{{ publication.animalState.animal.sex.type }}</span>
										<span class="wks">{{ publication.animalState.animal.age }}</span>
										<span class="txt">{{ publication.animalState.animal.name }}</span>
									</div>
									{% if publication.mainImage is not null %}
                                        <img class="animal-image" src="{{ asset(publication.mainImage.webPath) }}" alt="animal trouvé" class="img-rounded thumb">
                                    {% else %}
                                        <img class="animal-image" src="{{ asset('uploads/img/7.jpeg') }}" alt="image par défaut">
                                    {% endif %}
								</a>
							</li>
							{% endfor %}
							
						</ul>
					</div>
				</div>
			 </div>
			 {% endif %}

		</div>     
		</article>
		<!-- end Our Puppies -->

		<!-- Our Services -->
		<article class="services">
			<div class="container">
			
				<div class="row">
					<div class="col-xs-12"><h2 class="header">Actualités</h2></div>
				</div>
				
               
				<div class="row service first">
					<div class="col-md-7">
						<h2>{{ lastPublications[0].title }}</h2>
						<a class="btn btn-default" href="{{ path('front_publication_card', {'id': lastPublications[0].id }) }}">Lire plus</a>
						<p>{{ lastPublications[0].content|truncate(200)|raw}}</p>
					</div>
					<div class="col-md-5">
						{% if lastPublications[0].mainImage is not null %}
                            <img  src="{{ asset(lastPublications[0].mainImage.webPath) }}" alt="actualité" class="img-rounded thumb" >
                        {% else %}
                            <img  src="{{ asset('uploads/img/7.jpeg') }}" alt="actualité">
                        {% endif %}
					</div>
				</div>
				<div class="row service">
					<div class="col-md-12 visible-xs visible-sm">
						<h2>{{ lastPublications[1].title }}</h2>
						<a class="btn btn-default" href="{{ path('front_publication_card', {'id': lastPublications[1].id }) }}">Lire plus</a>
					</div>
					<div class="col-md-5">
                    {% if lastPublications[1].mainImage is not null %}
                            <img  src="{{ asset(lastPublications[1].mainImage.webPath) }}" alt="actualité" class="img-rounded thumb">
                       {% else %}
                            <img  src="{{ asset('uploads/img/7.jpeg') }}" alt="actualité">
                        {% endif %}
                    </div>
					<div class="col-md-7">
						<h2>{{ lastPublications[1].title }}</h2>
						<a class="btn btn-default" href="{{ path('front_publication_card', {'id': lastPublications[1].id }) }}">Lire plus</a>
						<p>{{ lastPublications[1].content|truncate(200)|raw}}</p>
					</div>
				</div>
				

			</div>
		</article>
		<!-- end Our Services -->


		<!-- Coupons -->
		{% if lastEvent is not null %}
		<article class="coupons">
			<div class="container">
				<header><h2>Evénement</h2></header>
				
				<div class="row">
					<div class="title">
						<div class="centered"><div><h2>{{ lastEvent.title }}</h2></div></div>
						{% if lastEvent.event.place is not null %}
						<p>Lieu : {{ lastEvent.event.place }}</p>
				        {% endif %}
						<hr>
					</div>
				</div>
		
				<div class="row coupon">
					<div class="col-sm-4">
						 {% if lastEvent.mainImage is not null %}
                            <img  src="{{ asset(lastPublications[1].mainImage.webPath) }}" alt="actualité" class="img-rounded thumb">
                        {% elseif lastEvent.images is not null %}
                            <img  src="{{ asset(lastPublications[1].images[0].webPath) }}" alt="actualité" class="img-rounded thumb">
                        {% else %}
                            <img  src="{{ asset('uploads/img/7.jpeg') }}" alt="actualité">
                        {% endif %}
					</div>
					<div class="col-sm-7">
						<span class="expires">
						{% if lastEvent.event.beginningDateEvent is not null %}
						    {{ lastEvent.event.beginningDateEvent|date("d/m/Y")}}
				        {% endif %}
				        {% if lastEvent.event.endingDateEvent is not null %}
				            {{ lastEvent.event.endingDateEvent|date("d/m/Y")}}
				        {% endif %}
						</span>
						
						<p>{{ lastEvent.content|truncate(80)|raw }}</p>
						<a href="{{ path('front_event_card', {'id': lastEvent.id })}}" class="btn btn-default">Lire plus</a>
					</div>
				</div>

			</div>     
		</article>
		{% endif %}
		<!-- end Coupons -->

	</section>
</div>




{% endblock %}