{% extends "front/base.html.twig" %}


{% block content %}



<div id="content">
	<section id="home" class="updatable">
		
		<!-- Slider -->
		<article class="bannercontainer">
			<div class="banner ">
				<ul>                        
					<li data-transition="fade" data-slotamount="1">
						<img src="{{ asset('img/slider01.jpg') }}" alt="//" />
						<div 
							class="caption lfb " 
							data-x="left"
							data-y="top"
							data-speed="1000"
							data-start="500"
							data-easing="easeOutBack"
						>		
							<p><span>Association animale</span>
								Nos missions :<br />Limiter la prolifération<br /> des chats errants par la stérilisation.</p>
							
						</div>                                 
					</li>

					<li data-transition="3dcurtain-vertical" data-slotamount="1">
						<img src="{{ asset('img/slider02.jpg') }}" alt="//" />
						<div 
							class="caption lfb " 
							data-x="left"
							data-y="top"
							data-speed="1000"
							data-start="500"
							data-easing="easeOutBack"
						>	
							<p><span>Association animale</span> Prise en charge des animaux errants,<br /> Soins sociabilisation et adoption.</p>
						</div>  
					</li> 

					<li data-transition="papercut" data-slotamount="1">
						<img src="{{ asset('img/slider03.jpg') }}" alt="//" />
						<div 
							class="caption lfb " 
							data-x="left"
							data-y="top"
							data-speed="1000"
							data-start="500"
							data-easing="easeOutBack"
						>	
							<p><span>Association animale</span> Vous pouvez nous aider ! <br /> Faites un don, devenez bénévole..</p>
							
						</div>                                    
					</li> 
				</ul>
			</div>
		</article>
		<!-- End Slider -->

		<!-- begin Featured Pooch -->
		<article class="featured">
			<div class="container">
				<header><h2>{{ animalsOnAdoption[0].title }}</h2></header>

				<div class="row">
					<div class="col-md-9">
					    {% if animalsOnAdoption[0].mainImage is not null %}
						    <img src="{{ asset('animalsOnAdoption[0].mainImage.webPath ') }}" alt="animal à l'adoption" class="img-rounded thumb">
						{% else animalsOnAdoption[0].image[0] is not null %}
						    <img src="{{ asset('animalsOnAdoption[0].mage[0].webPath ') }}" alt="animal à l'adoption" class="img-rounded thumb">
				        {% else %}
				        <img src="{{ asset('uploads/img/7.jpeg') }}" alt="image par défaut">
				        {% endif %}
						<h3>Dernier animal à l'adoption</h3>
						<p>{{ animalsOnAdoption[0].content|truncate(55) }}</p>
						<div class="foot">Posted 17 Jul 2013 <i class="icon-dot"></i> By Chris Patterson <span class="label label-default">Featured</span> </div>
					</div>
					<div class="col-md-3 vitals">
						<h4>Puppy Vitals <i class="icon-heart"></i></h4>
						<p>
							<strong>Name:</strong> Lassie<br />
							<strong>Age:</strong> 16 months, 9 days<br />
							<strong>Gender:</strong> Famale<br />
							<strong>Breed:</strong> Yorkshire Terrier<br />
							<strong>Price:</strong> Call of prices<br />
						</p>
					</div>
				 </div>

			</div>     
		</article>
		<!-- end Featured Pooch -->

		
		<!-- Our Puppies -->
		<article class="puppies">
		<div class="container">

			<div class="row">
				<div class="col-xs-12"><h2>Our Puppies</h2></div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="grid">
						<ul>
							<li class="male top">
								<a href="dogs.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img src="img/puppies/puppie01.jpg" alt="//"/>
									<span class="name">Maltese</span>
								</a>
							</li>
							<li class="famale top">
								<a href="dogs.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Beagle</span>
									</div>
									<span class="tag sale"><span>sale</span></span>
									<img src="img/puppies/puppie02.jpg" alt="//"/>
									<span class="name">Beagle</span>
								</a>
							</li>
							<li class="male feature">
								<a href="dogs.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img src="img/puppies/puppie03.jpg" alt="//"/>
									<span class="name">Retriever</span>
								</a>
							</li>
							<li class="male">
								<a href="dogs.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img src="img/puppies/puppie04.jpg" alt="//"/>
									<span class="name">Pinscher</span>
								</a>
							</li>
							<li class="male">
								<a href="dogs.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img src="img/puppies/puppie05.jpg" alt="//"/>
									<span class="name">Collie</span>
								</a>
							</li>
							<li>
								<a href="dogs.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img src="img/puppies/puppie06.jpg" alt="//"/>
									<span class="name">Maltese</span>
								</a>
							</li>
							<li class="male top">
								<a href="dogs.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img src="img/puppies/puppie07.jpg" alt="//"/>
									<span class="name">Beagle</span>
								</a>
							</li>
							<li class="famale top">
								<a href="dogs.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img src="img/puppies/puppie08.jpg" alt="//"/>
									<span class="name">Retriever</span>
								</a>
							</li>
							<li class="famale feature">
								<a href="dogs.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<span class="tag sold"><span>sold</span></span>
									<img src="img/puppies/puppie09.jpg" alt="//"/>
									<span class="name">Pinscher</span>
								</a>
							</li>
							<li class="famale">
								<a href="dogs.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img src="img/puppies/puppie10.jpg" alt="//"/>
									<span class="name">Collie</span>
								</a>
							</li>
							
						</ul>
					</div>
				</div>
			 </div>

		</div>     
		</article>
		<!-- end Our Puppies -->

		<!-- Our Services -->
		<article class="services">
			<div class="container">
			
				<div class="row">
					<div class="col-xs-12"><h2 class="header">Our Services</h2></div>
				</div>
				

				<div class="row service first">
					<div class="col-md-7">
						<h2>Bath &amp; Grooming</h2>
						<p>From a standard bath to a full-service groom, we offer a variety of dog <strong>grooming services</strong> that are just right for your puppy or dog.</p>
						<p>Firt choose, a Dog Bath or Dog Groom Package, then personalize the rest to fit your needs!</p>
					</div>
					<div class="col-md-5">
						<img src="img/services/services01.jpg" alt="Our Services">
					</div>
				</div>
				<div class="row service">
					<div class="col-md-12 visible-xs visible-sm">
						<h2>Kennel &amp; Boarding</h2>
					</div>
					<div class="col-md-5"><img src="img/services/services02.jpg" alt="Our Services"></div>
					<div class="col-md-7">
						<h2 class="visible-md visible-lg">Kennel &amp; Boarding</h2>
						<p>Our high-end luxury <strong>Doggie Suites</strong> are all equipped with flat screen for your pet's enjoyment. Our facility was designed to offer you pet the most exclusive and unique experience, a perfect alternative to a caged boarding kennel.</p>
					</div>
				</div>

			</div>
		</article>
		<!-- end Our Services -->


		<!-- Coupons -->
		<article class="coupons">
			<div class="container">
				<header><h2>Coupons</h2></header>
				
				<div class="row">
					<div class="title">
						<div class="centered"><div><h2>In-Store Printable Coupons</h2></div></div>
						<p>We offer all of our customers in-store printable coupons that you can only find online on our website. Check back daily for news deals!</p>
						<hr>
					</div>
				</div>
		
				<div class="row coupon">
					<div class="col-sm-4">
						<img src="img/coupons/coupon01.jpg" alt="pet image">
					</div>
					<div class="col-sm-7">
						<span class="expires">expires: 4/11/2014</span>
						<h3>Hand Scissor Haircut</h3>
						<span class="newnumber">Free</span>
						<p>Cats and dogs ejoyment. Our facility was designed to offer your pet the most exclusive and unique experience, a perfect alternative to a caged</p>
						<a href="#" class="btn btn-default">Print Code</a>
					</div>
				</div>

			</div>     
		</article>
		<!-- end Coupons -->

	</section>
</div>




{% endblock %}