{% extends "admin/base.html.twig" %}

{% block title %}{{ parent() }}Edition d'un animal en base de données {% endblock %}

{% block CSSfiles %}
    {{ parent() }}
    <!-- iCheck - Customizable checkboxes and radio buttons  -->
    <link href="{{ asset('vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
    <!-- Select2 - Customizable select box  -->
    <link href="{{ asset('vendors/select2/dist/css/select2.min.css') }}" rel="stylesheet">
    <!-- Switchery - IOS7 style switches  for checkboxes -->
    <link href="{{ asset('vendors/switchery/dist/switchery.min.css') }}" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="{{ asset('vendors/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">
{% endblock %}

{% block contentTitle %}Edition d'un animal{% endblock %}

{% block contentSubtitle %}{{ animal.name }}{% endblock %}

{% block content %}

    <div class="x-content">
   
        {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left'}, 'id': 'demo-form2'}) }}

        <div>
            {{ form_errors(form) }}
        </div>

        <div class="form-group">
            {{ form_label(form.name, "Nom", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
            {{ form_errors(form.name) }}
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_widget(form.name, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.birthday, "Date de naissance", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
            {{ form_errors(form.birthday) }}
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_widget(form.birthday, {'attr': {'class': 'col-md-7 col-xs-12'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.sex, "Sexe", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
            {{ form_errors(form.sex) }}
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p>{{ form_widget(form.sex, {'attr': {'class': 'capitalize'}}) }}</p>
            </div>
        </div>

        <div class="form-group">
        {{ form_label(form.type, "Type", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
        {{ form_errors(form.type) }}
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_widget(form.type, {'attr': {'class': 'form-control col-md-7 col-xs-12 capitalize'}}) }}
            </div>
        </div>

        <div class="form-group" id="breed-form">
            {{ form_label(form.breed, "Race", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
            {{ form_errors(form.breed) }}
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_widget(form.breed, {'attr': {'class': 'form-control col-md-7 col-xs-12 capitalize'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.sterilised, "Stérilisé(e)", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
            {{ form_errors(form.sterilised) }}
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_widget(form.sterilised, {'attr': {'class': 'js-switch'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.typeIdentification, "Identification", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
            {{ form_errors(form.typeIdentification) }}
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p>{{ form_widget(form.typeIdentification, {'attr': {'class': 'capitalize'}}) }}</p>
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.identificationNumber, "Numéro d'identification", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
            {{ form_errors(form.identificationNumber) }}
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_widget(form.identificationNumber, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.description, "Description", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
            {{ form_errors(form.description) }}
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_widget(form.description, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'style': 'height:100%;'}}) }}
            </div>
        </div>



        <div class="form-group">
            {{ form_label(form.animalStates, "Statuts de l'animal", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
            {{ form_errors(form.animalStates) }}
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_widget(form.animalStates, {'attr': {'class': 'form-control col-md-7 col-xs-12 capitalize', 'style': 'height:100%;'}}) }}
            </div>
            <a href="#" id="add_state" class="btn btn-default">Ajouter un statut</a>
        </div>

        <div class="form-group">

        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
        {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
        </div>


        {# Automatic generation of hidden fields, and CSRF field #}
        {{ form_rest(form) }}

        {{ form_end(form) }}
    </div>
    
{% endblock %}

{% block JSfiles %}
    {{ parent() }}   
    <!-- bootstrap-progressbar -->
    <script src="{{ asset('vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
    <!-- iCheck - Customizable checkboxes and radio buttons -->
    <script src="{{ asset('vendors/iCheck/icheck.min.js') }}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{{ asset('vendors/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <!-- jQuery Tags Input -->
    <script src="{{ asset('vendors/jquery.tagsinput/src/jquery.tagsinput.js') }}"></script>
    <!-- Switchery - IOS7 style switches  for checkboxes -->
    <script src="{{ asset('vendors/switchery/dist/switchery.min.js') }}"></script>
    <!-- Select2 - Customizable select box -->
    <script src="{{ asset('vendors/select2/dist/js/select2.full.min.js') }}"></script>
    <!-- Autosize - Automatically adjust textarea height to fit text -->
    <script src="{{ asset('vendors/autosize/dist/autosize.min.js') }}"></script>
    <script src="{{ asset('js/collection-form.js') }}"></script>
    <script src="{{ asset('js/dynamic-form.js')}}"></script>
    <script>
        $(document).ready(function () { $('#breed-form').hide('fast'); });
    </script>
{% endblock %}


