{% extends "admin/base.html.twig" %}

{% block title %}{{ parent() }} Fiche de {{ animal.name }} ({{animal.breed.type.name }}) {% endblock %}

{% block contentTitle %}Fiche de {{ animal.name }} {% endblock %}

{% block contentSubtitle %}Informations{% endblock %}

{% block content %}
    
    {# modal informations on page load after submitting a new animal form #}
    {% for message in app.session.flashbag.get('info') %}
        <div class="modal fade" id="flashbagModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ message }}</h4>
                    </div>
                    <div class="modal-body">
                        <a href="" class="btn btn-primary">Définir la photo principale à mettre en avant</a>
                        <a href="" class="btn btn-primary">Publier une annonce concernant cet animal</a>
                        <a href="{{ path('admin_animal_add') }}" class="btn btn-primary">Ajouter un autre animal avant publication</a><br/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>

                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        
    {% endfor %}
    
    {# animal card #}
    <div class="col-md-12">
        <div class="x-content">
            <div class="x_panel">
               
               {# animal pictures #}
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="product-image">
                        {% if animal.mainImage is not null %}
                            <img src="{{ asset(animal.mainImage.webPath) }}" alt="{{ animal.mainImage.alt }}" />
                        {% else %}
                            <img src="{{ asset('uploads/img/7.jpeg') }}" alt="image par défaut" />
                        {% endif %}
                    </div>
                    <div class="product_gallery">
                        {% if animal.images %}
                            {% for image in animal.images %}
                            <a style="overflow:hidden;">
                                <img src="{{ asset(image.webPath) }}" alt="{{ asset(image.alt) }}" />
                            </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {# end animal pictures #}
        
                {# animal text presentation #}
                <div class="col-md-5 col-sm-5 col-xs-12" style="border:0px solid #e5e5e5;">

                    <div class="title-right">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-danger btn-xs pull-right" href="{{ path('admin_animal_delete', {'id': animal.getId() }) }}"><i class="fa fa-trash"></i> Supprimer</a>
                            <a class="btn btn-primary btn-xs pull-right" href="{{ path('admin_animal_edit', {'id': animal.getId() }) }}"><i class="fa fa-pencil"></i> Editer</a>
                        {% endif %}
                        <a class="btn btn-success btn-xs pull-right" href="{{ path('admin_animal_images', {'id': animal.getId() }) }}"><i class="fa fa-camera-retro"></i> Gestion des photos</a>
                    </div>
                    <div class="title-left">
                        <h3 class="prod_title">{{ animal.name|upper }} - {{ animal.age }}</h3>
                    </div>

                    <p>{{ animal.description }}</p>
                    <br />

                    <div class="project_detail">
                        <p class="title">Sexe</p>
                        <p>{{ animal.sex.type|capitalize }}</p>
                    </div>
                    <div class="project_detail">
                        <p class="title">Race</p>
                        <p>{{ animal.breed.name|capitalize }}</p>
                    </div>
                    <div class="project_detail">
                        <p class="title">Identification</p>
                        <p>{{ animal.typeIdentification.name|capitalize }} - Numéro : {{ animal.identificationNumber }}</p>
                    </div>
                        <div class="project_detail">
                        <p class="title">Stérilisé(e)
                        {% if animal.sterilised %}
                            <i class="fa fa-check-square-o"></i>
                        {% else %}
                            <i class="fa fa-times-circle"></i>
                        {% endif %}
                        </p>
                    </div>
                    <br/>
                    <div class="project_detail">
                        <p class="title">Famille d'accueil :</p>
                        <p>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-primary btn-xs" title="Changer de famille d'accueil" href=""><i class="fa fa-pencil-square-o"></i></a>
                            {% endif %}
                            {{ animal.user.userPseudo|capitalize  }}
                        </p>
                    </div>
                </div>
                {# end animal text presentation #}
                
            </div>
        </div>
    </div>
    {# end animal card #}
    
    {# Publication #}
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Publications sur le site</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
               {% for animalState in animal.AnimalStates %}
                <div class="col-md-3" style="text-align:center; background-color:#f7f7f7;">
                    <h4 style="text-align:center;">Statut : "{{ animalState.state.type }}"</h4>
                <p>{{ animalState.date|date('d/m/Y')}}</p>
                <a class="btn btn-app" href="{{ path('admin_animal_publication_card', {'state': animalState.state.type, 'animalStateId': animalState.id , 'publicationId': animalState.publication.id })}}">
                   {% if animalState.publication is not null %}
                    <span class="badge bg-green">Modifier</span>                    
                    <i class="fa fa-edit"></i> 
                    {% if animalState.state.type == 'adoptable' %}A l'adoption
                    {% elseif animalState.state.type == 'adopté' %}News des adoptés
                    {% elseif animalState.state.type == 'trouvé' %}Animal trouvé
                    {% elseif animalState.state.type == 'perdu' %}Animal perdu
                    {% else %}
                    {% endif %}
                </a>
                <a class="btn btn-app">
                    <i class="fa fa-eye"></i> Voir sur le site
                </a>
                {% else %}
                <a class="btn btn-app">
                    <span class="badge bg-blue">New</span>
                    <i class="fa fa-edit"></i>
                    {% if animalState.state.type == 'adoptable' %}A l'adoption
                    {% elseif animalState.state.type == 'adopté' %}News des adoptés
                    {% elseif animalState.state.type == 'trouvé' %}Animal trouvé
                    {% elseif animalState.state.type == 'perdu' %}Animal perdu
                    {% else %}
                    {% endif %} 
                </a>
                {% endif %}
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
    
    {# Notes on the animal #}
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Notes internes</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <ul class="list-unstyled msg_list">
                    {% for note in listNotes %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-danger btn-xs pull-left" style="position:relative; top:8px;" href="{{ path('admin_note_delete', { 'objectOfTheNote': 'animal', 'id': animal.id , 'noteId': note.id }) }}"><i class="fa fa-trash"></i></a>
                            <a class="btn btn-primary btn-xs pull-left" style="position:relative; top:8px;" href=""><i class="fa fa-pencil"></i></a>
                        {% endif %}
                        <li>
                            <a>
                                <span class="image">
                                    <img src="{{ asset('uploads/img/23.jpeg') }}" alt="img" />
                                </span>
                                <span>
                                    <b>{{ note.user.userPseudo|capitalize }} - {{ note.date|date("d/m/Y") }}</b>
                                </span>
                                <span class="message">{{ note.message|nl2br }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <div>
                    <h4>Ajout d'une note</h4>
                    <span class="message" >
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        {{ form_label(form.message) }}
                        {{ form_errors(form.message) }}
                        {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
                        {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn btn-success btn-xs'}}) }}

                        {# Automatic generation of hidden fields, and CSRF field #}
                        {{ form_rest(form) }}

                        {{ form_end(form) }}
                    </span>
                </div>
                
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    
              
{% endblock %}

{% block JSfiles %}
{{ parent() }}

<script>
    $(document).ready(function () {

        $('#flashbagModal').modal('show');

    });
    </script>
{% endblock %}


