{% extends "admin/base.html.twig" %}

{% block title %}{{ parent() }} Fiche de {{ animal.name }} ({{animal.breed.type.name }}) {% endblock %}

{% block contentTitle %}Fiche de {{ animal.name }} {% endblock %}

{% block contentSubtitle %}Informations{% endblock %}

{% block content %}
    
    
    {# animal card #}
    <div class="col-md-12">
        <div class="x-content">
            <div class="x_panel">
               
               {# animal pictures #}
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="product-image">
                        {% if animal.mainImage is not null %}
                            <img src="{{ asset(animal.mainImage.webPath) }}" alt="{{ animal.mainImage.alt }}" />
                        {% else %}
                            <img src="{{ asset('uploads/img/7.jpeg') }}" alt="image par défaut" />
                        {% endif %}
                    </div>
                    <div class="product_gallery">
                        {% if animal.images %}
                            {% for image in animal.images %}
                            <a style="overflow:hidden;">
                                <img src="{{ asset(image.webPath) }}" alt="{{ asset(image.alt) }}" />
                            </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {# end animal pictures #}
        
                {# animal text presentation #}
                <div class="col-md-5 col-sm-5 col-xs-12" style="border:0px solid #e5e5e5;">

                    <div class="title-right">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-danger btn-xs pull-right" href="{{ path('admin_animal_delete', {'id': animal.getId() }) }}"><i class="fa fa-trash"></i> Supprimer</a>
                            <a class="btn btn-primary btn-xs pull-right" href="{{ path('admin_animal_edit', {'id': animal.getId() }) }}"><i class="fa fa-pencil"></i> Editer</a>
                        {% endif %}
                        <a class="btn btn-success btn-xs pull-right" href="{{ path('admin_animal_images', {'id': animal.getId() }) }}"><i class="fa fa-camera-retro"></i> Gestion des photos</a>
                    </div>
                    <div class="title-left">
                        <h3 class="prod_title">{{ animal.name|upper }} - {{ animal.age }}</h3>
                    </div>

                    <p>{{ animal.description }}</p>
                    <br />

                    <div class="project_detail">
                        <p class="title">Sexe</p>
                        <p>{{ animal.sex.type|capitalize }}</p>
                    </div>
                    <div class="project_detail">
                        <p class="title">Race</p>
                        <p>{{ animal.breed.name|capitalize }}</p>
                    </div>
                    <div class="project_detail">
                        <p class="title">Identification</p>
                        <p>{{ animal.typeIdentification.name|capitalize }} - Numéro : {{ animal.identificationNumber }}</p>
                    </div>
                        <div class="project_detail">
                        <p class="title">Stérilisé(e)
                        {% if animal.sterilised %}
                            <i class="fa fa-check-square-o"></i>
                        {% else %}
                            <i class="fa fa-times-circle"></i>
                        {% endif %}
                        </p>
                    </div>
                    <br/>
                    <div class="project_detail">
                        <p class="title">Famille d'accueil :</p>
                        <p>
                            {% if animal.user is not null %}
                                {{ animal.user.userPseudo|capitalize  }}
                            {% endif %}
                        </p>
                    </div>
                </div>
                {# end animal text presentation #}
                
            </div>
        </div>
    </div>
    {# end animal card #}
    
    {# Publication #}
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    Statuts de l'animal et publications liées 
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin_animal_state_add', {'animalId': animal.id}) }}" class="btn btn-primary btn-xs">Ajouter un statut</a>
                    {% endif %}
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" style=" background-color:#f7f7f7;">
               
                {% for animalState in animal.AnimalStates %}
                
                <div class="col-md-3" style="text-align:center;">
                    <h4 style="text-align:center;">
                        {% if(animal.AnimalStates|length > 1) %}
                            <a class="btn btn-danger btn-xs" href="{{ path('admin_animal_state_delete', {'animalId': animal.id, 'animalStateId': animalState.id})}}"><i class="fa fa-trash"></i></a>
                        {% endif %}
                        Statut : "{{ animalState.state.type }}"
                    </h4>
                    <p>{{ animalState.date|date('d/m/Y')}}</p>
                    
                    {% if is_granted('ROLE_ADMIN') %}
                        {% if animalState.publication is not null %}
                            <a class="btn btn-app" href="{{ path('admin_animal_publication_card', {'state': animalState.state.type, 'animalStateId': animalState.id , 'publicationId': animalState.publication.id })}}">

                            <span class="badge bg-green">Modifier</span>                    
                            <i class="fa fa-edit"></i> 

                        {% else %}
                            {% if (animalState.state.type != 'réservé') and (animalState.state.type != 'retrouvé') and (animalState.state.type != 'propriétaireretrouvé') and (animalState.state.type != 'adopté')  %}
                                <a class="btn btn-app" href="{{ path('admin_animal_publication_add', {'state': animalState.state.type, 'animalStateId': animalState.id })}}">
                                <span class="badge bg-blue" >Créer</span>
                                <i class="fa fa-edit"></i>
                            {% endif %}
                        {% endif %}
                        {% if animalState.state.type == 'adoptable' %}A l'adoption
                        {% elseif animalState.state.type == 'trouvé' %}Animal trouvé
                        {% elseif animalState.state.type == 'perdu' %}Animal perdu
                        {% elseif animalState.state.type == 'retrouvé' %}Animal retrouvé
                        {% elseif animalState.state.type == 'propriétaireretrouvé' %}Propriétaire retrouvé
                        {% endif %} 
                        </a>
                    {% endif %}
                    
                
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
    
    {# Notes on the animal #}
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Notes internes</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <ul class="list-unstyled msg_list">
                    {% for note in listNotes %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-danger btn-xs pull-left" style="position:relative; top:8px;" href="{{ path('admin_note_delete', { 'objectOfTheNote': 'animal', 'id': animal.id , 'noteId': note.id }) }}"><i class="fa fa-trash"></i></a>
                        {% endif %}
                        <li>
                            <a>
                               
                                <span>
                                    <b>{{ note.user.userPseudo|capitalize }} - {{ note.date|date("d/m/Y") }}</b>
                                </span>
                                <span class="message">{{ note.message|nl2br }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <div>
                    <h4>Ajout d'une note</h4>
                    <span class="message" >
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        {{ form_label(form.message) }}
                        {{ form_errors(form.message) }}
                        {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
                        {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn btn-success btn-xs'}}) }}

                        {# Automatic generation of hidden fields, and CSRF field #}
                        {{ form_rest(form) }}

                        {{ form_end(form) }}
                    </span>
                </div>
                
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    
{% endblock %}



