{% extends "admin/base.html.twig" %}

{% block title %}{{ parent() }}Liste des {{app.request.attributes.get("animalType")}}, statut : {{app.request.attributes.get("state")}} {% endblock %}

{% block contentTitle %}Liste des animaux{% endblock %}

{% block contentSubtitle %}{{app.request.attributes.get("animalType")|capitalize }}s {{app.request.attributes.get("state")}}s{% endblock %}

{% block content %}

    {% for animal in listAnimals %}
        <div class="col-md-55">
            <div class="thumbnail">
                <div class="image view view-first">
                    <a href="{{ path('admin_animal_card', { 'id': animal.getId() }) }}">
                        {% if animal.id in haveMainImage %}
                            {% for image in animal.images %}
                                {% if image.main %}
                                    <img style="width: 100%; display: block;" src="{{ asset(image.webPath) }}" alt="{{ image.alt }}"/>
                                {% endif %}
                            {% endfor %}
                        {% elseif animal.images[0] is defined %}
                                <img style="width: 100%; display: block;" src="{{ asset(animal.images[0].webPath) }}" alt="{{ animal.images[0].alt }}"/>
                        {% else %}
                            <img style="width: 100%; display: block;" src="{{ asset('uploads/img/7.jpg') }}" alt="image par défaut"/>
                        {% endif %}
                    </a>
                </div>
                <div class="caption">    
                    <p><a href="{{ path('admin_animal_card', { 'id': animal.getId() }) }}">{{ animal.name|capitalize }}</a>, {{ animal.breed.name|capitalize }}, {{ animal.sex.type }}</p>
                    <p>{{ animal.age }}</p>
                </div>
            </div>
        </div>
    {% endfor %}

              
{% endblock %}


