{% extends "front/base.html.twig" %}

{% block metaDescription %}
<meta name="description" content="Association animale pour la prise en charge des animaux errants et abandonnés - {{ app.request.attributes.get('categoryName') }} - {{ page.title }} " />
{% endblock %}

{% block content %}
<section id="spuppie">
	
	<!-- begin Our Puppies -->
	<article>
	<div class="container">

		<div class="row">
			<div class="col-xs-12"><h2>{{ page.title }}</h2></div>
		</div>

        <br/>
		<div class="row">
			<div class="col-md-12" style="text-align:center;">
			    {% if page.image is not null%}
				    <img src="{{ asset(page.image.webPath) }}" alt="photo {{ page.title }}" style="width:unset; max-height:400px; max-width:100%;"/>
                {% endif %}
			</div>
           <br/>
            <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-12">
            {{ page.content|raw }}


            </div>

            </div>
				
		 </div>
	</div>
	</article>

</section>

{% endblock %}
