{% extends "front/base.html.twig" %}
   
{% block content %}
    <section >
        <article class="container">
            <div class="row">
                <div class="col-xs-12"><h2>Mon compte - Changement de mot de passe</h2></div>
                <br/>
            </div>
            {% for error in app.session.flashbag.get('error') %}
                <div class="alert alert-notice">
                    {{ error }}
                </div>
            {% endfor %}

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <br/>
            <button type="submit" class="btn btn-default">Changer de mot de passe</button>
            <a href="{{ path('user_account') }}" class="btn btn-default" title="Retour au compte"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
            {{ form_end(form) }}
        </article>
    </section>



{% endblock %}