{% extends "front/base.html.twig" %}
   
{% block content %}
   
    
    
    <section >
       <article class="container">
        <div class="row">
			<div class="col-xs-12"><h2>Connexion à mon compte</h2></div>
		</div>
        {% if error %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endif %}
    
        <br/>
        {# form, with submission URL « login_check » #}
        <form action="{{ path('login_check') }}" method="post">
            <label for="username">Email d'identification :</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />

            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="_password" />
            <br />
            <br />
            <input type="submit" value="Connexion" class="btn btn-default"/>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            <a href="{{ path('request_password') }}">Mot de passe oublié ?</a>
        </form>

        </article>
    </section>


{% endblock %}

{% block JSfiles %}
{{ parent() }}
<script>
    $(document).ready(function () {

        $('#flashbagModal').modal('show');

    });
    </script>
{% endblock %}


