{% extends "front/base.html.twig" %}
   
{% block content %}
        
    <section>
       <article class="container">
            <div class="row">
			<div class="col-xs-12"><h2 >Mon compte - Réinitialisation de mot de passe</h2></div>
		</div>
        {% for success in app.session.flashbag.get('success') %}
            <div class="alert alert-notice">
            {{ success }}
            </div>
        {% endfor %}
        <br/>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <br/>
        <button type="submit" class="btn btn-default">Réinitialiser le mot de passe</button>
        <a class="btn btn-default" title="Retour à la page de connexion" href="{{ path('login') }}"><i class="fa fa-arrow-left" ></i></a>
        {{ form_end(form) }}
        
        </article>

    </section>

{% endblock %}