{% extends "front/base.html.twig" %}

{% block content %}

<!-- Blog -->
<section id="blog" class="updatable">

	<article>
		<div class="container">

			<div class="row post">
				<div class="col-md-9">

					<!-- Post -->
					<div class="eachpost">
						<div class="title">
							<div class="centered"><div><h2>{{ publication.title }}</h2></div></div>
							<div class="clearfix"></div>
							<p>{{ publication.date|date('d/m/Y') }}</p>
						</div>	

						<div class="post-img"><img src="{{ publication.mainImage.webPath }}" alt="photo publication"></div>
                       
						<p>{{ publication.content|raw }}</p>
						
					</div>
					<!-- end Post -->

				</div>
				
				{{ include('front/aside.html.twig') }}
			</div>

		</div>
	</article>

</section>
<!-- end Blog -->

{% endblock %}

