{% extends "front/base.html.twig" %}


{% block metaDescription %}
<meta name="description" content="Association animale pour la prise en charge des animaux errants et abandonnés - Liste des annonces" />
{% endblock %}

{% block CSSfiles %}
   {{ parent() }}
    <style>
        
        .pagination>.active>a, .pagination>.active>a:hover {
            background-color: #c27470;
            border-color: #c27470;
        }
    </style>
{% endblock %}

{% block content %}

<section id="blog" class="updatable">

	<article>
		<div class="container">


			<div class="row post">
				<div class="col-md-9">

					{% for publication in publications %}
					<div class="eachpost">
						<div class="title">
							<div class="centered"><div><h2><a href="{{ path('front_publication_card', {'id': publication.id}) }}">{{ publication.title }}</a></h2></div></div>
							<div class="clearfix"></div>
							<p>{{ publication.date|date('d/m/Y') }} <i class="icon-dot"></i></p>
						</div>	
                        {% if publication.mainImage is not null %}
						    <div class="post-img"><img src="{{ asset(publication.mainImage.webPath)}}" alt="Photo publication" style="width:unset; max-height:130px;"></div>
                        
                        {% endif %}
						<p>{{ publication.content|raw }}</p>
						<a href="{{ path('front_publication_card', {'id': publication.id}) }}" class="btn btn-default">Lire plus</a>
					</div>
					{% endfor %}
					
				    <div class="col-md-12 text-center">
                        <ul class="pagination text-center" >
                          {# use of function range(a, b) to create values array between a and b #}
                          {% for p in range(1, nbPages) %}

                            <li{% if p == page %} class="active"{% endif %}>
                              <a href="{{ path('front_publications', {'page': p}) }}">{{ p }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                    </div>
				</div>
                {{ include('front/aside.html.twig') }}
			</div>

		</div>
	</article>

</section>

{% endblock %}